%h1= @title

- if @data.executions.present?
  %table
    %tr
      %th Scheduled at
      %th Runs at
      %th Status
      %th Title
    - @data.executions.each do |e|
      %tr
        %td= link_to format_time(e.scheduled_at, @user) || 'None', e
        %td= format_time(e.started_at, @user)
        %td= execution_status(e)
        %td= e.plan.title
