%tr
  %td
    = link_to "##{item.id}", item
    .float-end= render_enabled(item.enabled)
  %td
    .p
      %strong= item.name
    .p= simple_format item.description

  %td
    - if item.token.present?
      %button.btn.btn-link.ps-0.btn-sm{type: :button, data: {bs: {content: item.token, toggle: :popover, placement: :bottom}}} API Token

  %td
    .btn-group.btn-group-sm.float-end{role: "group"}
      %button.btn.btn-light.btn-sm.dropdown-toggle{type: :button, data: {bs: {toggle: :dropdown}}}

      %ul.dropdown-menu
        %li= link_to "Edit", [:edit, item], class: "dropdown-item"
        %li= link_to "Delete", item, class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete ##{item.name}?"}
