= bootstrap_will_paginate items

- if items.present?
  %table.table.table-bordered.table-condensed.plan-list
    = render partial: "executions/list_header"
    = render partial: "executions/item", collection: items
- else
  .well.align-center
    %h4= "No Items"

= bootstrap_will_paginate items
