- unless defined?(paginate) and paginate == false
  = bootstrap_will_paginate items
  .clearfix

- if items.present?
  %table.table.table-bordered.table-condensed
    = render partial: "executions/list_header"
    = render partial: "executions/item", collection: items
- else
  .well.align-center
    %h4= "No Items"

- unless defined?(paginate) and paginate == false
  = bootstrap_will_paginate items
