.executions-list-by-day
  %table.table.table-bordered.table-sm
    %tr
      %th Hour
      %th{style: 'width: 100%'}
        Executions
        .float-end
          %button.btn.btn-sm.btn-light{type: :button, data: {bs: {toggle: :collapse, target: ".hour-executions"}}}
            All Detail

    - (0..23).each do |hour|
      - hour_executions = items.select{|e| e.time.in_time_zone(current_user.timezone).hour == hour}.sort_by(&:time)
      - now_hour = (@begin_date == Date.today and Time.now.in_time_zone(current_user.timezone).hour == hour)
      - if hour_executions.present? or now_hour
        %tr
          %th
            - if now_hour
              .float-end
                %label.label.label-success Now
            = hour
          %td
            .hour-executions-header{id: "hour-executions-header-#{hour}"}
              %button.btn.btn-sm.btn-light.text-muted.float-end{type: :button, data: {bs: {toggle: :collapse, target: ".hour-executions-#{hour}"}}} Detail

              - hour_executions.each do |e|
                %button.btn.btn-sm.btn-link.float-start.p-0.me-1{type: :button, data: {bs: {toggle: :collapse, target: ".hour-executions-#{hour}"}}}
                  %i.bi.bi-gear.execution-status{class: "status-#{e.status}", title: "#{e.plan.title}, #{e.status.humanize}" }

                .collapse.hour-executions{class: "hour-executions-#{hour}"}
                  .p
                    .float-start
                      = link_to e, class: "link-underline link-underline-opacity-0" do
                        - t = e.scheduled_at ? "Scheduled" : "Started"
                        %span{class: ("text-muted" if t == 'Scheduled'), title: "#{t} at #{format_time e.time}"}= format_time(e.time).strftime("%H:%M")
                    .float-start.ms-1
                      .p
                        %span.text-muted= e.plan.application.name if e.plan.application_id
                        = e.plan.title
                      .p.text-muted= simple_format e.plan.description
                    .clearfix
