.executions-list-by-day
  %table.table.table-bordered.table-condensed
    %tr
      %th Hour
      %td{style: 'width: 100%'} Executions
    - (0..23).each do |hour|
      - hour_executions = items.select{|e| e.time.in_time_zone(current_user.timezone).hour == hour}.sort_by(&:time)
      - now_hour = (@begin_date == Date.today and Time.now.in_time_zone(current_user.timezone).hour == hour)
      - if hour_executions.present? or now_hour
        %tr
          %th
            - if now_hour
              .pull-right
                %label.label.label-success Now
            = hour
          %td
            %ul.list-unstyled
              - hour_executions.each do |e|
                %li
                  = link_to e, title: e.status do
                    %span.glyphicon.glyphicon-cog.execution-status{class: "status-#{e.status}"}
                  %span.muted{title: "Scheduled at #{format_time e.time}"}= format_time(e.time).strftime("%H:%M")
                  = e.plan.title
