.executions-list-by-day
  %table.table.table-bordered.table-condensed
    %tr
      %th Hour
      %th{style: 'width: 100%'}
        Executions
        .pull-right
          %a.cursor-pointer{onclick: "toggle_list_by_day();"}
            Toggle Detail

    - (0..23).each do |hour|
      - hour_executions = items.select{|e| e.time.in_time_zone(current_user.timezone).hour == hour}.sort_by(&:time)
      - now_hour = (@begin_date == Date.today and Time.now.in_time_zone(current_user.timezone).hour == hour)
      - if hour_executions.present? or now_hour
        %tr
          %th
            - if now_hour
              .pull-right
                %label.label.label-success Now
            = hour
          %td
            .hour-executions-header{id: "hour-executions-header-#{hour}"}
              %a.pull-right.muted.cursor-pointer{onclick: "toggle_list_by_day(#{hour});"} Detail
              - hour_executions.each do |e|
                %span.glyphicon.glyphicon-cog.execution-status{class: "status-#{e.status}", title: e.plan.title }

            .collapse.hour-executions{id: "hour-executions-#{hour}"}
              %a.pull-right.muted.cursor-pointer{onclick: "toggle_list_by_day(#{hour});"} Hide
              %ul.list-unstyled
                - hour_executions.each do |e|
                  %li
                    %span.glyphicon.glyphicon-cog.execution-status{class: "status-#{e.status}", title: e.status }
                    = link_to e do
                      - t = e.scheduled_at ? "Scheduled" : "Started"
                      %span{class: ("muted" if t == 'Scheduled'), title: "#{t} at #{format_time e.time}"}= format_time(e.time).strftime("%H:%M")
                    = e.plan.title

