.mb-2.float-start
  = form_for url_for, method: :get, html: {id: "search-executions"} do |f|

    .mb-2
      Display as
      .btn-group{role: "group"}
        %button.btn.btn-light.dropdown-toggle{type: :button, data: {bs: {toggle: :dropdown}}}
          = Scheduler::Searcher::EXECUTION_DISPLAY_AS[@display_as]
        %ul.dropdown-menu
          - Scheduler::Searcher::EXECUTION_DISPLAY_AS.each do |name, title|
            - next if name == @display_as
            %li= link_to title, url_for(params.permit!.merge(display_as: name)), class: "dropdown-item"

      Search
      = text_field_tag :keyword, params[:keyword], placeholder: "Plan Title", class: "form-control", style: "display: inline; width: 190px"
      Exclude
      %icon.glyphicon.glyphicon-question-sign.cursor-pointer{title: "Seperate by ','"}

      = text_field_tag :exclude, params[:exclude], placeholder: "Plan Title", class: "form-control", style: "display: inline; width: 190px"

      = submit_tag "Reload", class: 'btn btn-outline-primary'
    .mb-2
      Errors:
      - error_count = items.where(status: Execution::ERROR_STATUS).count
      = link_to (error_count > 0 ? error_count : "None"), url_for(status: Execution::ERROR_STATUS), style: 'margin-right: 10px', class: ('btn btn-danger' if error_count > 0)

      %span Status
      = select_tag :status, options_for_select(Execution.statuses.keys - ['init'], params[:status]), include_blank: true, style: "width: 440px; margin: 0; vertical-align: top", multiple: true, class: "select2"
      = link_to "Exclude Init", url_for(params.permit!.merge(status: (params[:status] || Execution.statuses.keys) - ['init']))

    .mb-2
      - if @display_as == 'list'
        = select_tag :during, options_for_select([['During', '1'], ['All', '0']], (@during ? '1' : '0')), class: 'form-control', style: "width: 100px; display: inline", onchange: "$('#during-block').toggle()"
        %span#during-block{class: ("collapse" unless @during)}
          = render "shared/during"
          Or
          = link_to "Today", url_for(begin_date: Date.today.strftime("%Y-%m-%d"), finish_date: Date.today.strftime("%Y-%m-%d"))
          ,
          = link_to "This week", url_for(begin_date: Date.today.beginning_of_week.strftime("%Y-%m-%d"), finish_date: Date.today.end_of_week.strftime("%Y-%m-%d"))

      - if @display_as == 'day'
        = link_to url_for(params.merge(begin_date: (@begin_date - 1.day).strftime("%Y-%m-%d"))), title: "-1 day" do
          %i.bi.bi-arrow-left
        = text_field_tag :begin_date, @begin_date.strftime("%Y-%m-%d"), data: {"date-format" => "yyyy-mm-dd"}, style: 'display: inline; width: 110px; margin: 0', class: "date-picker form-control", onchange: "$('form#search-executions').submit();"
        = link_to url_for(params.merge(begin_date: (@begin_date + 1.day).strftime("%Y-%m-%d"))), title: "+1 day" do
          %i.bi.bi-arrow-right
        \/
        = link_to "Detail", [:executions, {begin_date: @begin_date.strftime("%Y-%m-%d"), finish_date: @begin_date.strftime("%Y-%m-%d")}]
