%tr
  %td
    = link_to "##{item.id}", item
  %td
    .p= item.username
    .p.muted= item.email
  %td
    %button.btn.btn-sm.btn-light.text-muted.ms-1.float-end{type: :button, data: {bs: {toggle: :collapse, target: "#user-#{item.id}-login"}}} Login Detail

    .p
      - if item.status == 'locked'
        %span.label.label-disabled= item.status
      - else
        %span.label.label-success= item.status
    .p
      %span{title: "Timezone"}= item.timezone
      .collapse{id: "user-#{item.id}-login", style: "width: 400px"}
        %ul.list-unstyled
          - [:sign_in_count, :current_sign_in_at, :last_sign_in_at, :current_sign_in_ip, :last_sign_in_ip].each do |k|
            %li
              %strong= k
              - v = item.send(k)
              = v.kind_of?(Time) ? format_time(v) : v

  %td
    .btn-group.btn-group-sm.float-end{role: "group"}
      %button.btn.btn-light.btn-sm.dropdown-toggle{type: :button, data: {bs: {toggle: :dropdown}}}
      %ul.dropdown-menu
        %li= link_to "Edit", [:edit, item], class: "dropdown-item"
        %li
          %hr.dropdown-divider
        %li= link_to "Delete", item, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete ##{item.title}?"}, class: "dropdown-item"
