.form-block
  = simple_form_for @item, as: :item do |f|
    = f.input :username
    = f.input :email
    = f.input :timezone
    = f.input :email_notify
    = f.input :status, collection: ['active', 'locked']
    -# %hr
    -# = f.input :password
    -# = f.input :password_confirmation

    .margin-bottom
      = f.submit "Submit", class: 'btn btn-success'
      = link_to "Cancel", :users, class: 'btn btn-default'
