%h1 Dashboard

.row
  .col-md-8
    = render partial: "executions/search", locals: {items: @executions}
    = render partial: "executions/list", locals: {items: @executions}

  .col-md-4
    %table.table.table-bordered.table-condensed
      %tr
        %th Last checked at
        %th Next check create executions
      %tr
        %td= format_time Scheduler::Lib.read_cache(:checked_at)
        %td= format_time Scheduler::Lib.read_cache(:expired_create_executions)
    %table.table.table-bordered.table-condensed
      %tr
        %th Controls
        %td
          %ul.list-unstyled
            - ["check", "run_executions", "expend_executions", "verify_executions", "export"].each do |name|
              %li.margin-bottom
                = link_to name.humanize, [:op, :home, type: name], method: :post, data: {confirm: "#{name.humanize}?"}, class: 'btn btn-default'

