%tr
  %td
    = link_to "##{item.id}", item
    .float-end= render_enabled(item.enabled)
  %td
    %strong= item.title
  %td= item.execution_type
  %td= render "execution_methods/detail", em: item
  %td
    .btn-group.btn-group-sm.float-end{role: "group"}
      %button.btn.btn-light.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", type: "button"}
      %ul.dropdown-menu
        %li= link_to "Edit", [:edit, item], class: "dropdown-item"
        %li
          %hr.dropdown-divider
        %li= link_to "Delete", item, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete ##{item.title}?"}, class: "dropdown-item"
