.form-block
  = simple_form_for @item, as: :item do |f|
    = form_errors(f)

    = f.input :title
    = f.input :execution_type, collection: @item.class.execution_types.keys
    = f.input :parameters_text, as: :text
    = f.input :enabled

    .mb-2
      = f.submit "Submit", class: 'btn btn-success'
      = link_to "Cancel", :execution_methods, class: 'btn btn-outline-primary'
