%tr
  %td
    = link_to "##{item.id}", item
    .pull-right= render_enabled(item.enabled)
  %td
    .p
      %strong= item.title
    .p= simple_format item.description
  %td
    - em = item.execution_method
    .pull-right{title: "Execution Type"}
      = em.execution_type
    .p
      %strong= link_to em.title, em
    = render partial: "execution_methods/detail", locals: {em: em}

    - if item.parameters.present?
      .p= link_to "Plan Parameters", "#parameters-#{item.id}", class: "fancybox"
      .hide
        .p{id: "parameters-#{item.id}"}
          = hash_as_table item.parameters
    - if item.token.present?
      .p
        API Token: #{item.token}
  %td
    = link_to [:new, :routine, {item: {plan_id: item.id}}], title: "New Routine" do
      = "New"
    %ul.list-unstyled
      - item.routines.each do |routine|
        %li
          = render_enabled(routine.enabled)
          = routine.timezone
          %span{title: routine.config}
            = link_to Scheduler::Lib.schedule_description(routine.config), [:edit, routine]
          .pull-right
            = link_to "Del", routine, method: :delete, data: {confirm: "Are you sure to delete this?"}

  %td
    - [:execute, :expand, :assign_token].each do |name|
      .p= link_to name.to_s.humanize, [:op, item, type: name], method: :post, data: {confirm: "Are you sure to #{name.to_s.humanize}?"}
    .p= link_to "Edit", [:edit, item]
    .p= link_to "Delete", item, method: :delete, data: {confirm: "Are you sure to delete ##{item.title}?"}
