%tr
  %td
    = link_to "##{item.id}", item
    .float-end= render_enabled(item.enabled)
  %td
    .p
      %strong= item.title
      - if item.application_id
        .p= link_to item.application.name, item.application
    .p= simple_format item.description
  %td
    - em = item.execution_method
    .float-end{title: "Execution Type"}
      = em.execution_type
    .p
      %strong= link_to em.title, em
    = render "execution_methods/detail", em: em

    - if item.parameters.present?
      = render "shared/dialog_data", id: "item-parameters-#{item.id}", name: :Parameters, data: hash_as_table(item.parameters)
    - if item.token.present?
      %button.btn.btn-link.ps-0.btn-sm{type: :button, data: {bs: {content: item.token, toggle: :popover, placement: :bottom}}} API Token

    .text-muted
      Waiting for #{item.waiting} seconds
  %td
    %ul.list-unstyled
      - item.routines.each do |routine|
        %li
          = render_enabled(routine.enabled)
          = routine.timezone
          %span{title: routine.config}
            = link_to [:edit, routine] do
              = Scheduler::Schedule.description(routine.config)
              - if routine.modify != 0
                #{routine.modify} seconds
          .float-end
            = link_to routine, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this?"} do
              %i.bi.bi-x-square

      %li
        = link_to [:new, :routine, {item: {plan_id: item.id}}], title: "New Routine" do
          %i.bi.bi-plus-square

  %td
    .btn-group.btn-group-sm.float-end{role: "group"}
      %button.btn.btn-light.btn-sm.dropdown-toggle{type: :button, data: {bs: {toggle: :dropdown}}}

      %ul.dropdown-menu
        - [:execute, :expand, :assign_token, :delete_future_executions].each do |name|
          %li= link_to name.to_s.humanize, [:op, item, type: name], class: "dropdown-item", data: {turbo_method: :post, turbo_confirm: "Are you sure to #{name.to_s.humanize}?"}
        %li
          %hr.dropdown-divider
        %li= link_to "Edit", [:edit, item], class: "dropdown-item"
        %li= link_to "Delete", item, class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete ##{item.title}?"}
