%table.table.table-bordered.table-sm.plan-list
  = render "list_header"
  = render "item", item: @item

= bootstrap_tabs_tag namespace: :plan, kind: :tab do |tab|
  = tab.schedules "Schedules", @item
  = tab.executions "Executions", [:executions, @item]
.mb-2
