.form-block
  = simple_form_for @item, as: :item do |f|
    = f.input :title
    = f.input :description
    = f.input :execution_method_id, collection: ExecutionMethod.where(enabled: true).pluck(:title, :id)
    = f.input :parameters_text, as: :text
    = f.input :waiting, label: "Waiting in seconds"
    = f.input :enabled
    - hint = capture do
      Use
      = link_to "liquid", "https://github.com/Shopify/liquid", target: :_blank
      as template engine
    = f.input :result_template, as: :text, hint: hint
  
    .margin-bottom
      = f.submit "Submit", class: 'btn btn-success'
      = link_to "Cancel", :plans, class: 'btn btn-default'
