.form-block
  = simple_form_for @item, as: :item do |f|
    = f.input :title
    = f.input :description
    = f.input :execution_method_id, collection: ExecutionMethod.where(enabled: true).pluck(:title, :id)
    = f.input :application_id, collection: Application.where(enabled: true).pluck(:name, :id)
    = f.input :parameters_text, as: :text
    = f.input :waiting, label: "Waiting in seconds"
    = f.input :enabled
    = f.input :review_only, hint: "This plan is only for review, execution will auto mark as succeed."
  
    .margin-bottom
      = f.submit "Submit", class: 'btn btn-success'
      = link_to "Cancel", :plans, class: 'btn btn-default'
