= bootstrap_tabs_tag namespace: :nav, open_tabs: {class: 'dropdown-menu'} do |tab|
  = tab.dashboard "Dashboard", :root
  %li.divider{role: "separator"}
  = tab.plans "Plans", :plans
  = tab.execution_methods "Execution Methods", :execution_methods
  = tab.routines "Routines", :routines
  = tab.executions "Executions", :executions
  %li.divider{role: "separator"}
  %li
    %a Other
