= bootstrap_tabs_tag namespace: :nav, open_tabs: {class: 'dropdown-menu'} do |tab|
  = tab.dashboard "Dashboard", :root
  %li.divider{role: "separator"}
  = tab.execution_methods "Execution Methods", :execution_methods
  = tab.plans "Plans", :plans
  = tab.executions "Executions", :executions
  %li.divider{role: "separator"}
  = tab.info "Information", "/home/info"
  = tab.sidekiq "Sidekiq", "/home/sidekiq"
