= bootstrap_tabs_tag namespace: :nav, open_tabs: {class: 'dropdown-menu'}, tab_for: {link_html: {class: 'dropdown-item'}} do |tab|
  = tab.dashboard "Dashboard", :root
  %li
    %hr.dropdown-divider
  = tab.execution_methods "Execution Methods", :execution_methods
  = tab.applications "Applications", :applications
  = tab.plans "Plans", :plans
  = tab.executions "Executions", :executions
  %li
    %hr.dropdown-divider
  = tab.users "Users", :users
  %li
    %hr.dropdown-divider
  = tab.info "Information", "/home/info"
  = tab.jobs "Jobs", "/jobs"
