= bootstrap_tabs_tag namespace: :nav, kind: :nav do |tab|
  = tab.dashboard "Dashboard", :root
  %li
    %hr.dropdown-divider
  = tab.execution_methods "Execution Methods", :execution_methods
  = tab.applications "Applications", :applications
  = tab.plans "Plans", :plans
  = tab.executions "Executions", :executions
  %li
    %hr.dropdown-divider
  = tab.users "Users", :users
  %li
    %hr.dropdown-divider
  = tab.info "Information", "/home/info"
  = tab.controls "Controls", "/home/controls"
  = tab.jobs "Jobs", "/home/jobs"
